[2019-04-26 18:42] narinluangrath opened #1 "Add 'react-virtualized-auto-sizer' as dependency"
Thanks @pupudu for the component!
Don't forget to add 'react-virtualized-auto-sizer' as a dependency. It's imported, but not in the package.json.

[2019-04-27 00:43] pupudu commented on #1
Hi @narinluangrath
Thank you for pointing that out.
I was initially planning to make `react-virtualized-auto-sizer` and `react-window` peer dependencies. But on second thought, what you suggest makes more sense. Hence I made both `react-virtualized-auto-sizer` and `react-window` direct dependencies.

This change is available in v0.0.15

[2019-04-27 00:43] #1 closed

[2019-05-01 22:31] pupudu opened #4 "Migrate example website to docusaurus"
Currently, the example website is based on Create React App and is janky. Docusaurus seems to be a good candidate for documenting the library along with examples.

[2019-05-01 22:35] pupudu opened #5 "Support sticky columns"
details TBA

[2019-05-01 22:35] pupudu opened #6 "Setup Circle CI"
details TBA

[2019-05-01 22:37] pupudu opened #7 "Setup semver"
Maybe done as a part of #6
Currently we decide versions manually. This better be done using semver automation

[2019-05-03 08:46] pupudu opened #8 "Should we support sorting and filtering in this library?"
There are many ways to do those two. So we can either be agnostic or opinionated about them. This is to discuss the pros and cons

[2019-05-04 10:24] #4 closed

[2019-05-04 10:25] pupudu commented on #4
Decided to go with docz instead of docusaurus

[2019-05-05 23:56] pupudu opened #10 "Move measurers to its own file"
As of now, all the measurers; table measurer, cell measurer and header measurer are used directly inside the root WindowTable component. It would look cleaner if we move the measurers to its own module.

Currently, the header measurer is embedded in the actual header. It will be better to have another sample header(possibly using the same column titles, or double rendering the header) inside the m

[2019-05-05 23:58] pupudu opened #11 "Create github templates for Pull Requests and Issues"
Need to do some research around the templates used by the industry leaders and come up with something simple that would work for us

[2019-05-07 03:14] frankcalise opened #12 "className is not applied to <Table>"
If you add className to Html5Table it applies the classes to the main parent div. It does not apply the classes to the table element.

So when using this with bootstrap, adding table-striped doesn't style the table correctly.

[2019-05-07 05:51] pupudu commented on #12
Hi @frankcalise Thank you for creating the issue. Good catch.
I will ship a fix for this soon.

[2019-05-07 06:01] pupudu commented on #12
I released a fix for this in v0.5.0
In fact, I updated the demo in the homepage with a striped table, along with some example code.

see it here: https://window-table.now.sh/

Thanks again for creating the issue

[2019-05-07 06:10] pupudu commented on #12
Actually, this is a lot trickier than I initially expected. Since react-window destroys rows when scrolling, it changes the odd-even behaviour of the rows, making them flip the strips as you scroll.

I'm not sure what the solution to that would be. But most likely, it should be done with react-window itself.

[2019-05-07 12:00] frankcalise commented on #12
Hey @pupudu - thanks for the quick response. Ok so maybe striped isn't necessarily supported due to virtualization aspect here. But yeah we could probably implement with some row styler function if it passes the caller the index?

Something like rowClassName in Brian's original react-virtualized Table component? https://github.com/bvaughn/react-virtualized/blob/master/docs/Table.md

[2019-05-07 12:12] frankcalise commented on #12
Your demo seems to handle striped well though? Oh I see, if evens are dark then scroll some and sometimes odds are dark. So yeah it's not supported perfectly, however as far as usefulness to read across the row it's effective.

[2019-05-08 00:15] pupudu commented on #12
Thank you for the responses @frankcalise. I was also having a look at `rowClassName`. That's probably the best we can do. I will have a go most probably today.

I am really happy to hear that you are interested in this project. That gives us more energy to invest time on this.
Cheers!

[2019-05-08 00:37] frankcalise commented on #12
Cool sounds good. I've branches my project to try and replace react-bootstrap-table and for a simple table with custom column components I've got it working. Yours obviously with the virtualization from react-window. But it also fits mobile way better since it gets the horizontal scroll. The other package does very poorly on small screens.

The next thing I'll have to try is a click to select row,

[2019-05-09 10:54] #12 closed

[2019-05-09 10:59] pupudu commented on #12
Hey @frankcalise
I just published v0.6.0 with the new rowClassName prop as we discussed.

I also added a Guide section to the documentation website which shows how to use the new prop to make a striped table: https://window-table.now.sh/docz-guides-striped-table

The prop itself is documented here: https://window-table.now.sh/docz-components-api-window-table#rowclassname-string--function

Hope thi

[2019-05-09 12:45] frankcalise commented on #12
Very cool, thanks for the quick turn around! Now I'll try to implement a select (checkbox) column for the rows to later do something with the selected IDs.

Maybe if I come up with a good example we can discuss if it's an efficient solution as well as make add it to the list of Guides on the docs.

Thanks again.

[2019-05-09 22:33] pupudu commented on #12
Sure thing mate. Looking forward to that.

Cheers!

[2019-05-10 00:51] pupudu opened #16 "Add more guides to the docs"
It would be cool if we can add more guides to the guide list in the docs. Currently, there's only the striped-rows guide. From an initial thought, here are some potential guides we can add:

[ ] Using Custom Components
[ ] Using Custom Components by Cells (Based on cell data)
[ ] Fixed/explicit row height
[ ] Row height based on sampleRowIndex and sampleData
[ ] Change row height based on index

[2019-05-10 00:58] pupudu commented on #6
This was completed as a part of cleaning the code.

[2019-05-10 00:58] #6 closed

[2019-05-21 18:41] bzeffren-rms commented on #8
As someone currently looking for a sortable, filterable table solution this would be great for what we need. It might be enough to document an established pattern for passing in sort functions into Table column header cells, and a way to designate columns as keys to use in a filter function that is also passed into the component.

[2019-05-22 00:09] pupudu commented on #8
Hi @bzeffren-rms
Thank you for creating the issue. I will definitely add a recipe to the guides section explaining how I usually do sorting and filtering. In the meantime, I will consider this as a +1 for making sorting and filtering built in.

Cheers.

[2019-05-23 08:42] techandmedia opened #17 "react-window on a next js ssr"

[2019-05-23 08:46] techandmedia commented on #17
Hi there, I am just trying out window-table on next js (ssr) environment.

There's an error occured during load "Unexpected token export. C:\...\node_modules\lodash-es\lodash.js:10"
export {default as add } from './add.js'

Here is the sandbox repo [https://codesandbox.io/s/nextwindowtable-dr0vz](url)

Thank you

[2019-05-24 05:28] pupudu commented on #17
Hi @techandmedia
Thank you for creating the issue. And sorry that you had to face this issue. I will look into this asap

[2019-05-24 06:21] #17 closed

[2019-05-24 06:24] pupudu commented on #17
Hi @techandmedia You can see the sandbox here working with the new bugfix version 0.6.4
https://codesandbox.io/s/nextwindowtable-q1lu4

[2019-05-24 09:37] techandmedia commented on #17
Thank you, now it works!

But the first time load is quite slow, I try to reduce to just 1000 and it's still slow the first time. Can you advise please?

[2019-05-24 14:00] techandmedia commented on #17
Just want to let you know that it works super fast now! Thank you, you've done a great job!

[2019-05-25 01:24] pupudu commented on #17
@techandmedia Glad to hear faster now. I took one more step and made it even faster for SSR. Now I am using an example nextJs app locally to make sure the library works great on SSR.
An example codesandbox here: https://yl96z.sse.codesandbox.io/

[2019-05-28 00:59] pupudu commented on #8
Hi @bzeffren-rms
I've added basic filtering support and documented the intended usage in the website: https://window-table.now.sh
Hopefully, It's a good first step towards adding sorting and filtering support to this library, without bloating the bundle size.

Cheers.

[2019-05-29 03:32] onesinus opened #20 "Should we support Event Handler in this library?"
The table works well since i follow the documentation https://window-table.now.sh/

But for now i'm thinking to add some event handler in table's rows such as onClick handler

as far as i see the documentation i don't get the event handler, is that possible to add some event with this module?

Thanks in advance

[2019-05-29 09:49] pupudu commented on #20
Hi @onesinus
Thank you for creating this issue. Adding event handlers are supported even as of now, though it may not be very clear at first. A TL;DR is, you can do this by supplying custom components as Row, Column, etc.

I will quickly add a new guide to explain how this can be done with minimal effort.

[2019-05-29 22:31] pupudu commented on #20
@onesinus I've added a new comprehensive guide on how we can leverage the customizability of this library to add event listeners to the rows.

Let me know if you need any other clarifications.

Thanks.

[2019-05-29 22:31] #20 closed

[2019-05-29 22:43] pupudu commented on #20
Also, would appreciate it if you can star the repo to support our growth. Thanks!

[2019-05-31 01:14] onesinus commented on #20
Oke i will see and try, My star exactly for you :)

[2019-06-03 01:32] onesinus opened #21 "Feature Request: How can we handle rowspan and colspan"
In table we can set rowspan and colspan, how about TableWindow?

![Rowspan Colspan](https://user-images.githubusercontent.com/13330881/58770484-6e833200-85d9-11e9-8596-768e87533056.jpg)

[2019-06-03 01:54] pupudu commented on #21
Hi @onesinus
This is something I was keen on doing as well. Unfortunately, there's no easy and trivial way to do that yet.

Even the primitive react-virtualized and react-window libraries don't support this feature yet.
See:

https://github.com/bvaughn/react-virtualized/issues/123
https://github.com/bvaughn/react-window/issues/60#issuecomment-479953599

However, I'm still hopeful that I can find a

[2019-06-11 10:19] frankcalise opened #22 "Width infinitely grows when adding table-bordered css class"
If I add table-bordered to this className attribute, the table starts out with the desired width defined by the parent but then grows quickly overtime (if you inspect, the width keeps increasing). Have you run into this at all? Bootstrap 3.3.7, I'll see if I can make a contrived example on Codesandbox.
[code]

[2019-06-11 10:29] frankcalise opened #23 "Extra div table header"
When rendering Html5Table receive the following warning in console:

`
Warning: validateDOMNesting(...): <div> cannot appear as a child of <tr>.
    in div (created by AutoSizer)
    in AutoSizer (created by Measurer)
    in Measurer (created by HeaderRowRenderer)
    in tr (created by HeaderRowRenderer)
    in thead (created by THead)
    in THead (created by HeaderRowRenderer)
    in HeaderRowRe

[2019-06-11 13:36] pupudu commented on #22
Hi @frankcalise
Thank you for creating the issue.

I created a sandbox, and I don't see any issues: https://codesandbox.io/s/window-table-basic-example-03juq

So my guess is either you are using an old version of window-table, or there's something else conflicting with the table. Can you try to reproduce the issue in this sandbox, please?

Also, maybe it's the browser or the operating system. Can

[2019-06-11 13:43] pupudu commented on #23
Hi @frankcalise
Thank you for reporting this issue.

The reason we see the above error is due to how the table dimensions are measured. The table itself is rendered with the correct element hierarchy, just not the measures.

I am aware of this and is actually an issue with the react-virtualized-auto-sizer. I created [an issue](https://github.com/bvaughn/react-virtualized-auto-sizer/issues/2) there

[2019-06-12 00:32] frankcalise commented on #22
Yeah I'll try to reproduce. It's probably the way I'm trying to come up with 3 columns (to hold 3 tables) but have them all the height of the window. Also they live in an antd card (wasn't my choice but it's there) and with bootstrap. So there are plenty of styles going on something could be conflicting somewhere.

Thanks for the response.

[2019-06-13 22:24] pupudu commented on #22
Hi @frankcalise
Have you had any luck to reproduce the issue?
Are you still seeing the issue even after updating the table to the latest version? If so, can you mention the versions of each of the libraries you are using so that I can give it a go myself?
Thanks

[2019-06-16 07:38] episodeyang commented on #21
I think we really need a virtualized grid component in react, that supports `colSpan`, `rowSpan`, and sticky components. Some companies have internal versions that works supremely well. it is a shame nothing like those are available outside.

[2019-06-16 23:12] pupudu commented on #21
Hi @episodeyang
Thanks for paying interest in this library and this issue.
I am actually willing to look into adding support for those 3 features. But for me, it's still unclear how the API would look like.

For example:
Where do you think we should define the respective colspan/rowspan attributes? Should it be in the data array itself? Should it be given as a separate data array? Is it possible t

[2019-07-25 00:14] steverob opened #24 "Sorting possible?"
Is there any example of doing sort by column? Anyone has done this? Thanks!

[2019-07-25 01:08] pupudu commented on #24
Hi @steverob
Thank you for creating this issue. Yes, sorting is possible, but unfortunately, I don't have a live example yet. I will add an example to the website as soon as possible. I will keep you updated on that.

Until then, if you have time, you can use these materials to do it your self
1. Custom components: https://window-table.now.sh/docz-guides-adding-event-listeners-adding-event-listene

[2019-07-25 01:23] steverob commented on #24
Thanks @pupudu. I'll go over these. Also I have another question. I have a table that needs to be filtered based on a certain flag (boolean). What do you think would be the most performant way to implement this?

Right now, I'm planning to pass a pre-filtered (using `Array.filter()`) data array into `WindowTable` based on the flag state. Is this fine or does this need to be integrated into `create

[2019-07-25 01:24] steverob commented on #24
@pupudu btw, those doc links are 404-ing.

[2019-07-25 02:32] pupudu commented on #24
@steverob Ah bummer, my bad. There's an issue with the `now` static build it seems.

Please follow these paths for the moment
1. Guides -> Adding Event Listeners -> Custom Components
2. Components API -> WindowTable -> Header Cell

With regards to the filtering question, what you suggest definitely works. The `createFilter` is there only as a way to make the process easier and performant. It's tot

[2019-07-25 02:33] steverob commented on #24
Thanks a lot. You can close this issue :)

Regards
Steve Robinson
On Jul 24, 2019, 9:32 PM -0500, Pubudu Dodangoda <notifications@github.com>, wrote:

[2019-07-25 02:34] pupudu commented on #24
Cheers.
I'll keep this open until I add the docs and the guide for sorting.
Thanks Steve

[2019-07-25 02:40] pupudu commented on #24
PS: A bit more about the word "performant" in my last comment...

Since we are rendering a large amount of data, filtering and sorting are quite expensive operations. That's the main reason why filtering and sorting are not provided by react-window or react-virtualized at the moment.

For example, if we implement filtering naively, the page will become laggy upon each keystroke. Therefore we need

[2019-07-25 02:57] steverob commented on #24
Lots of concepts to read up on. Thanks for the write up!

--
Regards
Steve Robinson

[2019-07-29 13:38] OVBondHUB opened #25 "Nested tables"
Hi, your package has some problems with nested tables. I try to render one table, but DOM has rendered three same tables :
<img width="1911" alt="Screenshot 2019-07-29 at 15 28 22" src="https://user-images.githubusercontent.com/45013125/62052928-d4c1b500-b216-11e9-844d-4c85307e999d.png">

[2019-07-29 15:00] pupudu commented on #25
Hi @OVBondHUB
Thank you for opening this issue.

If I understand your concern correctly, you are referring to the three `<table>` tags you see in the dom. If that is the case, this is expected and that is exactly what's makes this library be able to render a virtualized table using table tags.

Developers usually state that it is not possible to virtualize a table with tags such as `table`, `tr`,

[2019-07-31 23:04] 18601673727 opened #26 "Couldn't hide border of the last child from thead"
Hi,
Thanks for bring us such a nice lib! Really helpful but there seems to be a tiny flaw:
[code]
Result:
![image](https://user-images.githubusercontent.com/3302620/62254023-46be1800-b42a-11e9-9106-2934234bbf05.png)

[2019-08-01 00:29] 18601673727 opened #27 "Q: How to bind nested attributes with key?"
Given following code:

[code]
Got following warnings:
[code]

Tried `key: detail.tags` no luck..

Thanks!

[2019-08-01 02:29] pupudu commented on #27
Hello there,

The reason you see an error like above is, that you are using the same key "detail" in the column config. For example, the error should go away if you rename them as "detail1" and "detail2".

However, I just realized that this is an unnecessary constraint. So I removed that constraint and published version `0.8.10`. The error should go away if you update to that version.

Thank you f

[2019-08-01 02:29] #27 closed

[2019-08-01 02:32] pupudu commented on #26
Hi there,
Thank you for creating this issue.

Could you tell me a bit more about this issue? Does it happen only for the text columns?

Or is it possible for you to reproduce this in a demo codesandbox or something? Would be pretty easy to fix it if you can do that.

Cheers.

[2019-08-01 02:52] 18601673727 commented on #26
Hi @pupudu,

Of course, here you go: https://codesandbox.io/embed/thirsty-dewdney-u3pro

[2019-08-07 10:14] OVBondHUB commented on #25
Hi, @pupudu, Thank you for explanation. I junior developer and I didn't know, that impossible to virtualize a table using standard tags. Thank you for your package

[2019-08-07 10:58] pupudu commented on #25
No worries @OVBondHUB
Since you are happy with the discussion, I will close this issue.

[2019-08-07 10:58] #25 closed

[2019-08-07 13:42] #26 closed

[2019-08-07 13:44] pupudu commented on #26
Hi @18601673727
This issue has been fixed with v0.8.11

Thanks again for opening this issue

[2019-09-05 01:32] thunderkid opened #29 "Extra vertical scrollbars in codesandbox example."
This is a beautiful library!
I noticed that on the [codesandbox example](https://codesandbox.io/s/window-table-basic-example-o258q) and on the [website ](https://window-table.now.sh/docz-guides-striped-table)there are extra vertical scrollbars - an outer one that seems like an accident, and an inner one (which is initially hidden behind the outer one!) that actually does the scrolling. I've played

[2019-09-05 01:37] pupudu commented on #29
Hi @thunderkid
Thanks for creating this issue.
I acknowledge this bug. Can reproduce. I will look into this soon.

[2019-09-25 05:02] prabhakhar commented on #8
Awesome work @pupudu !!!

But sorting (with the caveat being it might affect performance) is much needed. Thanks for the addition of Filtering example and code.

I followed your steps for sorting. It is not working as stated. Better provide as a sample code for sorting, no need to integrate 'sorting' to the core function of this library.

That is only functionality that stops me using this in my t

[2019-09-26 01:22] pupudu commented on #8
@prabhakhar
Thanks for paying interest in this library.
I just made an online example for you: https://codesandbox.io/s/sorting-in-window-table-69wjb

Please let me know if you find any issues with this.

**One thing to note (also mentioned as comments):**
The example uses the mapsort library to do the sorting. This is optional. You can use any library you prefer to do the sorting. However, the so

[2019-09-26 15:44] prabhakhar commented on #8
@pupudu that was quick! Thank you for the online example. It looks great. I tried the same.

But in my application (Semantic UI based react-app) there is an other table element, rendered by the library, that consumes the click and so no 'sort' happening. Pardon my UI knowledge here.

I am seeing the 'other' table in the online example also. please note the table with a collapsed first row in the s

[2019-09-26 21:29] pupudu commented on #8
The other table you see here is there for a different purpose. That's unlikely the cause of your problem. Would it be able for you to create an online version of your table. Then I can debug and add anything missing to the library.

[2019-09-26 22:09] prabhakhar commented on #8
https://codesandbox.io/embed/semantic-ui-example-i6bnp is the one with my data and style.

Please click near the "Zone" header to see actually the underlying table row gets the click. I have console.log print for all Cells.

[2019-10-02 04:12] prabhakhar commented on #8
Seems you are busy. But if you need more details lemme know.

[2019-10-02 04:15] pupudu commented on #8
Hi @prabhakhar I had a look the other day. It seems there is a compatibility issue with sematic UI. Should be an easy fix. But I need to find the exact cause. I can probably have a deeper look by EOD tomorrow. Sorry for taking longer to find the issue.

[2019-10-02 14:52] prabhakhar commented on #8
Thank you for the reply. Really appreciate it.

[2019-10-14 15:53] prabhakhar commented on #8
Any luck? @pupudu.

[2019-10-15 07:24] pupudu commented on #8
Hi @prabhakhar Apologies for taking too long.
I spent some time today on this and I think I've fixed the issue. Can you please check if it works for you as well?

https://codesandbox.io/embed/semantic-ui-example-lmf4i

(The fix is in v0.8.12)

[2019-10-15 12:28] pupudu commented on #29
This has been fixed in v0.9.0

Thanks again for reporting the issue

[2019-10-15 12:28] #29 closed

[2019-10-15 12:29] pupudu commented on #23
This has been fixed in v0.9.0
Thanks again for reporting the issue.

[2019-10-15 12:29] #23 closed

[2019-10-15 12:31] pupudu commented on #10
Changes have been merged to master

[2019-10-15 12:31] #10 closed

[2019-10-15 12:36] pupudu opened #30 "Migrate to tsdx"
Dealing with rollup and babel is hard. tsdx takes care of that for us.

[2019-10-15 12:38] pupudu opened #31 "Migrate examples to use faker"
I used the naruto based data for the examples on the website because why not.

However, since we are repeating the same data over and over, it becomes harder to showcase filtering and sorting. Thus, we should migrate the examples to use faker to generate fake data for us.

[2019-10-15 12:38] pupudu commented on #24
Closing in favor of #8

[2019-10-15 12:38] #24 closed

[2019-10-15 14:47] pupudu commented on #30
Released

[2019-10-15 14:47] #30 closed

[2019-10-15 17:17] thunderkid commented on #29
Hi,
Actually this is still a problem under the latest Chrome (77.0.3865.90) on the latest Windows 10. This is how the demo site at `https://window-table.now.sh` appears:
![image](https://user-images.githubusercontent.com/6183356/66853200-8c6f8480-ef33-11e9-9241-0d86be8573a2.png)

[2019-10-15 17:26] thunderkid opened #32 "Blank table when fast scrolling on MS Edge"
If I open the demo site `https://window-table.now.sh/` on MS-Edge (Windows 10 1903 build) and scroll slowly, it works ok. But if I scroll quickly, the body of the table suddenly goes blank, and stays blank even if I then scroll slowly.

![image](https://user-images.githubusercontent.com/6183356/66854027-69de6b00-ef35-11e9-94d2-704f77480add.png)

[2019-10-15 23:03] pupudu commented on #29
@thunderkid Apologies. The website was recently changed from https://window-table.now.sh to https://window-table.netlify.com since configuring the static site in now seemed harder than netlify.

I didn't take down the now.sh domain since there may be references to that site. I will add a redirect and close the old site.

I checked the new website on browser stack and it works fine for me. Please c

[2019-10-15 23:23] pupudu commented on #32
Hi @thunderkid
Thanks for reporting this issue. This issue can be reproduced on browser-stack.

My initial guess is that this is either a performance issue in MS Edge or a limitation of react-window (the base library which enables table virtualization). I've seen similar behavior in Chrome when the row count is millions.

It seems MS Edge can't handle more than 22000+ rows.
![Imgur](https://imgur.

[2019-10-16 00:17] thunderkid commented on #29
Thanks. I agree that this is now fixed.

[2019-10-16 00:21] thunderkid commented on #32
Yes, now that you mention it I'm seeing that the error occurs after row 22k.
Which makes no sense - I'd have thought that since DOM elements are added dynamically, MS Edge shouldn't even know or care which row it's on. It should always think it's only displaying about 12 rows.

[2019-10-16 01:03] pupudu commented on #32
Yea I agree. I am gonna throw this question at Brian Vaughn. He will have a logical explanation for this. I need to reproduce the problem solely from react-window before that. I'll try to do that today or tomorrow eod.

[2019-10-17 01:04] prabhakhar commented on #8
Awesome. Works like a charm. Thank you.

[2019-10-24 00:25] erik4github opened #33 "lodash-es dependencies are required to install"
If using `npm install window-table --save` , the lodash dependencies aren't installed with. So when using `webpack-dev-server` to build, you'll run into:

[code]

If I install the `lodash-es` libraries, project builds fine.

Not sure if it's more appropriate to mark them as dependencies rather than peer dependencies, or just make a note in the documentation when installing via npm.

[2019-10-24 01:11] pupudu commented on #33
Hi @erik4github Thanks for reporting this issue. Yes, we should make it a dependency. Will do that as soon as I get some time.

[2019-10-24 02:04] pupudu commented on #33
Hi @erik4github What's the window-table version you tried? Because I just noticed that we are no longer using lodash-es.

Thanks

[2019-10-24 02:12] pupudu commented on #33
Just published v0.10.3 with `@types/lodash-es` replaced with `@types/lodash`. That may have been the issue for you. Please let us know if 0.10.3 fixes the issue for you. Thanks.

[2019-10-28 03:49] pupudu commented on #33
Just found the issue. Tsdx is transforming lodash usages to lodash-es usages, obviously, for reducing the bundle size. I just added lodash-es to fix that problem. Please install v0.10.4

Ref: https://github.com/jaredpalmer/tsdx#using-lodash

Cheers

[2019-10-28 03:49] #33 closed

[2019-10-28 03:50] pupudu commented on #22
Closing assuming the issue is fixed. Please feel free to re-open if the issue persists.

[2019-10-28 03:50] #22 closed

[2019-11-05 08:35] realdreamer opened #36 "Support accessibility?"
I'm trying out this library for the past few weeks. It's really quite powerful and nice.

But, in terms of accessibility, facing some issues.
- I would like to navigate within the table header if its sortable column.
- I would like to navigate table rows by up/down arrow keys

I'm looking a flow something like this. Pressing tab it first focus on `header` sortable column one after other then focus

[2019-11-06 06:28] pupudu commented on #36
Hello, @realdreamer

Thanks a lot for posting this issue. Supporting accessibility is definitely we are looking forward to. And I agree that it hasn't been done yet. I can have a look at this towards this weekend, on what we need to do and how that can be done. Your suggestion seems like a solid start.

Also, feel free to make a contribution if you have an idea of what needs to be done. In the mea

[2019-11-06 07:42] realdreamer commented on #36
Hi @pupudu,

Thank you for you response. Sure, I'll also check from my side.

[2019-11-07 08:35] realdreamer opened #37 "Html5Table alignment when scrollbar appears"
When the content is more than `table` height, scrollbar appears for the table body, then it breaks the alignment with `table-header` and `table-body`. You can see this issue in this example itself. https://window-table.netlify.com/#blazing-fast-

[2019-11-07 11:48] marizuccara opened #38 "Mantain color of selected row"
Hi! I'm storing in the state the index of selected row and I color it. But if I scroll the table, the rows are rerendered, so the color on the row disappear.  How mantain the color of the selected row ?

[2019-11-07 13:16] marizuccara commented on #38
Solved! Using current row as `useRef`

[2019-11-07 13:16] #38 closed

[2019-11-13 13:13] grgp commented on #37
@realdreamer I've also found this issue as well.

If you simply need a quick and dirty hack to align the header columns, though, you can set the HeaderRow component to have a `overflow-y: scroll;` style.

[2019-11-14 07:23] pupudu commented on #37
Hi @realdreamer
Thanks for reporting this issue.
I didn't see this issue coming as MacOs scrollbars don't occupy extra width from the table. I played with the table on Windows and acknowledge the issue. So far, the easiest way to fix this is by using @grgp  s workaround. That is a simple and powerful solution.

Another possibility is to change the width of the header based on the size of the scrol

[2019-11-20 16:39] marizuccara opened #39 "Expand rows"
Hi! Is there a way to expand some rows on a interaction?

[2019-11-29 15:09] marizuccara opened #40 "ClassNames to elements"
Why not adding classnames to div elements, so we can access to them easily if we want add addictionaly styling?

[2019-12-01 00:25] pupudu commented on #40
Hi @marizuccara
That's a fair point. This is already possible by setting custom elements, although I agree that it takes a bit of effort. I think we can set the classNames by default.

[2019-12-01 01:24] pupudu commented on #40
Hi @marizuccara
Turns out, this was already implemented. I just published some docs as a guide on how to use the class names and prefixes.

https://window-table.netlify.com/docz-guides-styling-styling-with-class-names

Thank you for using Window Table

[2019-12-01 01:24] #40 closed

[2019-12-01 02:36] pupudu commented on #39
Hi @marizuccara

Unfortunately, I haven't found a way to do that with any virtualization library so far. This is because react-window uses absolute positioning to render the rows virtually.

This is likely not impossible, it's just that it's not trivial on how to do that. If it's doable by some other library, it's probably doable with window-table as well. Do you have any other examples which do t

[2019-12-03 04:02] realdreamer commented on #36
Hi @pupudu,

Any update on this? Do you have any idea about how to pass `ref` to header cells and `tr` component?

[2019-12-11 02:48] joiel commented on #37
Or you can add to your CSS file
[code]

[2019-12-11 08:58] joiel commented on #37
Well, I'm trying to set width -8px only if the table has a scrollbar.

[code]

[code]

[2019-12-17 09:27] realdreamer commented on #37
@joiel I liked the above one, but I'm little concerned about using direct class names instead of using `ref`. I tried to pass `ref` on `table header` and `table body` component. But, no help, incase if you've any idea please let me know.

[2019-12-17 13:03] realdreamer opened #41 "why there is a duplication of table ?"
I tried to using the `HTML5 Table`. But, it's appending a duplication of `table header` and `table body`. It makes sense for having the below one `table-header` and `table-body`. But, I didn't understand the point of the first one. Thats creating an unnecessary issues if I pass ref to `header` and `body`. because sometimes it's returns the below `table-body` and sometimes above one.  Even though I

[2019-12-17 13:11] realdreamer commented on #37
@joiel  @pupudu - Thank you for your input guys 👍 . But, I'm looking to solve it in a better way and also wanna fix the scrollbar issue on the header only if the body have scrollbar.

I tried the below approach, but I'm having a problem with the two `table-body` elements - one is actually the dummy with the hidden state and another one with the actual data.

[code]

[code]

[2019-12-23 05:19] pupudu commented on #41
Hi @realdreamer Sorry for taking a bit too long to respond to the issues. I was away for a while.
...
The first table is there to measure the table content. React-window(the base library by Brain Vaughn) is based on fixed-size rows and columns by default. Hence we have to use the `react-virtualized-autosizer` package to measure the table dimensions. For example, if we didn't use this, we can't mak

[2019-12-23 12:32] pupudu commented on #37
@realdreamer @grgp @joiel
Thanks for getting involved. I just published version `0.10.5-alpha.1` with an inbuilt fix for the issue. The solution is working pretty well in the website examples. But I would like to get your input to verify it's working for you before we publish `v0.10.5`.

With this, temporary solutions like forced scrollbars in header and using css classes to change header size wil

[2020-01-03 13:40] realdreamer commented on #41
HI @pupudu, Thank you for reverting back.

![image](https://user-images.githubusercontent.com/7163943/71726154-82746800-2e36-11ea-803e-e577bb202401.png)

I'm trying to pass `ref` like mentioned in the screenshot. But the problem with this issue is, when I try to access the `ref` element of the `tableBody` to measure the height, it returns the first `tableBody` (which is dummy for the reference pur

[2020-01-03 15:10] realdreamer commented on #37
@pupudu I'm still facing the issues with scrollbar even with the `0.10.5-alpha.1` version

[2020-01-05 02:58] pupudu commented on #37
@realdreamer That's sad. Could you give a bit more information about the issue pls?

1. Do you see the same issue in the website example?
2. Or is it in one of your own use cases?

In either case, it would cool if you could attach a screenshot, (and/or) provide a sandbox to reproduce the issue.

Many thanks,

[2020-01-08 15:04] realdreamer opened #42 "is there a way to row have dynamic height?"
Hi @pupudu,

Is there any way we can do dynamic height to each row? could you help me with any example?

[2020-01-09 06:35] nahumzs commented on #5
Do you have any details about this? would it be hard to implement? currently, I'm facing the problem that react-windows support the VariableSizedGrid and adding a sticky column is not that hard. But sadly it's not accessible https://github.com/bvaughn/react-window/issues/217,

look like this library because it uses a `<table />` tag automatically is accessible. But I don't find any information abo

[2020-02-02 12:27] chrisjhoughton opened #43 "Is there a recommended approach for implementing infinite scrolling?"
Hi there, amazing library you've built out!

One of the things that's really important for us is the ability to have an infinitely scrolling list. I'm thinking it might be possible to implement this with a sub-component that triggers an event to the parent on mount, but I'd love to know if anyone has implemented this already?

[2020-02-02 13:09] pupudu commented on #43
Hi @chrisjhoughton
Thank you for getting involved.

This library is based on react-window. And according to their docs, using the `react-window-infinite-loader` seems to be the preferred way of doing what you need.
https://github.com/bvaughn/react-window#can-i-lazy-load-data-for-my-list

I haven't tried that myself yet. But from a quick look, I feel that the integration would just work. I will giv

[2020-02-06 21:49] pupudu commented on #32
This issue has been fixed in the latest Edge browser (thanks to the new chromium-based engine)

[2020-02-06 21:49] #32 closed

[2020-02-16 11:11] tomgallagher opened #44 "forwardRef warning when supplying custom row component, Semantic React"
Hi

Great library!

I'm trying to use the library with Semantic React. Then working through your examples.

So the key bits of code are

[code]

This results in warning

So with the additional of

`import React, { forwardRef } from 'react';
`

The following code works raises no warnings

[code]

I'm a bit of a React beginner but I had a few questions.

Is the warning raised because the Semantic Re

[2020-02-17 14:30] tomgallagher commented on #37
I can see this scroll bar problem as fixed when content is more than table height, but offset when content is less than table height. Matching the sandbox.

I'm on Windows / Chrome, ` 0.10.5-alpha.1` version

[2020-02-26 10:04] bammoo commented on #21
Some references for you:
This library has feature of cospan and it's based on react-window as well.
[https://autodesk.github.io/react-base-table/examples/row-span](https://autodesk.github.io/react-base-table/examples/row-span)

Some react ui library like antd define cospan as column prop

[code]
[https://ant.design/components/table/#components-table-demo-colspan-rowspan](https://ant.design/compone

[2020-04-07 23:14] bmcgary commented on #23
Not sure if this still a known issue, but I got this same error today using v0.10.5-alpha.1. Downgrading back to 0.9.0 did fixed it though.

[2020-04-13 16:52] Dashue opened #49 "Trouble with storybook"
Trying to use this library in storybook ends up with the following exception:

Cannot update a component (`WindowTable`) while rendering a different component (`AutoSizer`). To locate the bad setState() call inside `AutoSizer`, follow the stack trace as described in https://fb.me/setstate-in-render
    in AutoSizer (created by Measurer)
    in Measurer (created by WindowTable)
    in tr (created b

[2020-04-21 04:45] 18601673727 commented on #49
same here

[2020-04-23 09:25] jakub-astrahit opened #50 "Unable to scroll to row?"
Is there a way I can tell the table to scroll to a given row? For example, I have a table with 20 000 rows and I want to scroll to row number 4500. I couldn't find anything like this in the docs and/or in the issues here.

[2020-04-27 21:49] gabrielbezerra81 commented on #44
I have this warning too and dont have any idea how to fix. Tried with fowardRef like you but didn't fix. Did you understood why this occurs?

Table code:

`<WindowTable
          Row={(props) => (
            <StripedRow tableSize={tableSize} props={props} />
          )}
    />
`

Striped Row code:

`
 const StripedRow = forwardRef(({ tableSize, props }, ref) => {
        return (
            <di

[2020-04-28 05:55] tomgallagher commented on #44
No, sorry I don't. I was hoping to get some feedback from the repo owner but it's been months now.

[2020-04-28 06:31] pupudu commented on #44
Sorry guys, I've been busy with some work lately. I'm getting back at the queued issues this week and next week. Hopefully, I will have an answer soon. Help is always appreciated.

[2020-04-28 06:45] tomgallagher commented on #44
Understood. I'd love to help out as I think it's a great project. This particular problem is a bit above my pay grade though!

[2020-04-28 15:05] gabrielbezerra81 commented on #37
I solved this by adding what @joiel said and adding a margin to last td of each row in table-body if the the tableData has less than 10 lines. I pass "marginSmallTableData" class as prop to custom Td.

`.table-header-row {
  width: calc(100% - 12px) !important;
}`

`.marginSmallTableData.td:last-child {
  margin-right: 12px;
}`

[2020-04-28 15:22] gabrielbezerra81 opened #51 "Warning: Cannot update a component (`WindowTable`) while rendering a different component (`AutoSizer`)."
Hi, thank you for this great library. I'm facing this warning and dont have any idea about the cause. Could you provide some help? Thanks.

Full warning text:
index.js:1 Warning: Cannot update a component (`WindowTable`) while rendering a different component (`AutoSizer`). To locate the bad setState() call inside `AutoSizer`

It says this line in Measurer.tsx causes the warning:
`dispatch({ dimens

[2020-04-29 00:10] gabrielbezerra81 commented on #50
I was able to do this changing scrollTop of a specific div element that is parent of the second table (the body). Here my lines have fixed height of 43px, then pass the number of lines you want to scroll, and add or subtract depending if you want scroll down or up. Also give an ID to the Window Table element.

`
 var parent = document.getElementById("myTable").childNodes[1];
`
`   var scrollDiv =

[2020-06-02 05:21] hipstersmoothie commented on #50
That doesn't really seem like the best solution. The underlying library support this.This package should too https://react-window.now.sh/#/examples/list/scroll-to-item

[2020-06-02 07:17] #50 closed

[2020-07-06 00:29] monkeyArms opened #57 "Warning: Cannot update a component (`ForwardRef`) while rendering a different component (`AutoSizer`)"
I am having issues with the HTML5Table component when the `data` prop is updated.

Console error (Firefox):
[code]

Code below:

**WindowTableTest.js**

[code]

**PageTest.js:**

[code]

Using window-table 0.12.1 and React 16.13.1.

[2020-07-06 00:33] pupudu commented on #57
Hey @monkeyArms Thank you for reporting the issue. Do you get the same error in chrome as well?

[2020-07-06 01:10] monkeyArms commented on #57
Yes - same error in Chrome & Edge.

[2020-07-06 02:11] monkeyArms commented on #57
I looked into this a bit more, and updating the `data` prop is not the issue.  I have a minimal example [here](https://codesandbox.io/s/broken-wildflower-xy8rx?file=/src/App.js) that displays the console error.

[2020-07-12 10:48] pupudu commented on #51
Sorry about the extreme delay to respond. This has been fixed in v0.13.2

[2020-07-12 10:48] #51 closed

[2020-07-12 10:49] pupudu commented on #57
Hi @monkeyArms Sorry about the delay. This has been fixed in v0.13.2

[2020-07-12 10:49] #57 closed

[2020-07-14 23:30] monkeyArms commented on #57
Works great.  Thank you for the fix and the awesome library!

[2020-07-21 10:06] liamc-sty opened #59 "Double scrollbars with Bulma"
Thank you for this awesome library, it saves a lot in performance for my app.

I have an issue when using this with Bulma however, and I cannot pinpoint the issue. The outer div which contains the table header and auto-sizing table appears to have an incorrect height, which has the side effect of showing a Y scrollbar (shown in Ubuntu 20.04 + Firefox 79).

In my app it appears to be the extra heig

[2020-07-21 21:40] ptimson opened #60 "Dynamic col widths"
Hey @pupudu is there a way to use this lib with dynamic col widths or is it best to go with this approach? https://github.com/bvaughn/react-window/issues/60#issuecomment-588397239

Thanks

[2020-07-22 01:54] pupudu commented on #60
Hey @ptimson
If dynamic column widths is your only requirement, I suggest using jamesmfriedmans approach. That is smart and simple enough for the basic case.

I suggest using window-table only if you want the additional features of this library as well.

If you're looking for more options, there is also https://github.com/mckervinc/react-fluid-table which is taking a slightly different route from

[2020-07-22 01:54] #60 closed

[2020-07-22 02:06] pupudu commented on #59
Hey @liamc-sty
There seems to be an issue with the auto-sizer not detecting the 1px border added by bulma. I can look into it over the weekend.

However, a quick workaround for your problem would be to add a little bit of css override to the table cell.
Here's an example:
https://codesandbox.io/s/quizzical-napier-h5p23?file=/src/App.js

[2020-07-22 08:33] liamc-sty commented on #59
This is great, that fixes that issue, but then when I add a rowHeight prop, the issue comes back: [https://codesandbox.io/s/busy-cray-y99zu](https://codesandbox.io/s/busy-cray-y99zu)

As you can see the div containing the table of data has an incorrectly calculated height, only 2 pixels subtracted from the height of the "window", i.e. 248px. Strange?

[2020-07-22 09:15] liamc-sty commented on #59
Actually, this issue might not be strictly related to Bulma, apologies. It still creates an extra scrollbar if Bulma is not present.

[2020-07-22 10:13] pupudu commented on #59
Hey @liamc-sty
Thanks a lot for the feedback. Let me have a deeper look in that case. I will get back as soon as possible.

[2020-07-24 10:08] vincaslt opened #61 "Cannot set dragImage because Row always rerenders"
I set some `dragging` state on a component wrapping the table, so when I change it, the table re-renders and all rows are unmounted and then re-mounted.

The Row sets `event.dataTransfer.setDragImage` in onDragStart, but because it re-mounted, the event target changes and image is not shown. Also onDragEnd doesn't work because of the same reasons.

[2020-09-08 17:35] boatcoder opened #63 "Why is row="[object Object]" column="[object Object]" in all of the elements?"
https://codesandbox.io/s/sorting-in-window-table-forked-wmzhl?file=/src/index.js

[code]

[2020-09-21 08:04] andrew-mclachlan opened #64 "Width not adjusted until screen size is changed"
Great wee library! Thank you!

I have a question/issue.

I am starting off with an empty table that gets populated. What I find is that the first time we add data, the width is the full size of the screen (there are divs to the right). When I adjust the screen size, then we correctly fit the table into the div.

Am I doing something incorrect to cause the width to be "wrong" first time or am I abl

[2020-09-27 08:54] duyphaphach opened #65 "WindowTable accepts Row as component but HTML5Table doesn't"
Firstly, thanks for your great library! Really performant and smooth!
It just lacks a bit of flexibility.

I wanted to render a table with HTML tags so I pick the HTML5Table component.
Then I realized that the rows are not resized dynamically, which made me export the Row to separate component to measure it.

But passing Row renderer to HTML5Table like below won't work. Really appreciate if you ca

[2020-09-27 10:34] pupudu commented on #65
Hi @duyphaphach
Thanks for the kind words. Unfortunately window-table doesn't support variable row sizes at the moment.

Passing the Row prop should work however. I can have a look if you could produce a minimal example in a codesandbox.

Or else, you could consider [React Fluid Table](https://mckervinc.github.io/react-fluid-table/#/variable) which is drop in replacement for this library. It has a

[2020-09-27 10:52] pupudu commented on #64
Hi @andrew-mclachlan
Thank you for the kind words.

Sorry to hear you're facing an issue. I can have a look if you could produce a minimal example in a codesandbox.

Or else, please consider [React Fluid Table](https://mckervinc.github.io/react-fluid-table/#/) as a replacement to this library. It has a similar API and has a ton more features.

[2020-09-27 10:54] pupudu commented on #42
Hi guys,

Unfortunately, I am quite busy these days with my regular job. Please consider [Fluid Table](https://mckervinc.github.io/react-fluid-table/#/) as an alternative to this library. It has a similar API and offers a ton more features including dynamic row height.

[2020-09-27 20:13] duyphaphach commented on #65
Hi @pupudu, thank you for replying
I made a code sandbox to reproduce the issue with passing Row prop on HTML5Table [here](https://codesandbox.io/s/elated-dubinsky-hdyz6?file=/src/App.js)
Would you kindly have a look at it

I searched many related libraries (including React Fluid Table) and they are all using `div`s to build table so they don't fit my need.
I'm trying [react-base-table](https://gi

[2020-09-28 08:33] pupudu commented on #65
@duyphaphach
I gave a shot at adding support for variable sized rows to the library. Here you can find an example: https://codesandbox.io/s/window-table-column-components-dycqw?file=/src/App.js

Please note however that this is still experimental. I need to test a lot manually before I make this GA. Right now, the feature is available in version `1.0.0-alpha.3`.

Let me know your thoughts. Thanks.

[2020-10-15 03:48] mgummelt opened #66 "After mount, Html5Table rows start out sized correctly, but their height quickly grows too large"
See here:

https://codesandbox.io/s/adoring-fermi-swfl3?file=/src/App.js

[2020-10-15 09:24] pupudu commented on #66
Hi @mgummelt Thanks for reporting the issue.
I don't see the issue on my computer, perhaps it's related to a specific environment.
Which browser and operating system are you using?

[2020-10-15 21:44] mgummelt commented on #66
I'm using chrome + ubuntu.

I can't repro on firefox, and my friend can't repro on chrome + mac, so it seems quite platform dependent.  I might do some more poking around.  Thanks for checking on it.

[2020-10-15 23:45] pupudu commented on #66
Cool Thanks @mgummelt
I'll try to reproduce it on browserstack

[2021-02-19 07:40] andrew-mclachlan commented on #37
I too am seeing this issue. It sometimes works but sometimes does not. I think updating the CSS for the header row is probably the easiest work around.

[2021-02-19 18:25] andrew-mclachlan commented on #37
Basically seeing that the resize width is 0 `calc(100% - 0px)` despite the fact that the div containing the table rows has a scroll bar added. I can see that the widths are adjusted to be the same which implies that we haven't detected the difference in width for some reason.